@import url("https://fonts.googleapis.com/css2?family=Agu+Display&family=Dancing+Script:wght@400..700&family=Delius&family=Edu+AU+VIC+WA+NT+Pre&family=Indie+Flower&family=Kalam:wght@300;400;700&family=Merienda:wght@300..900&family=Pacifico&family=Playwrite+IN+Guides&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Dancing+Script:wght@400..700&family=Delius&family=Edu+AU+VIC+WA+NT+Pre&family=Indie+Flower&family=Itim&family=Kalam:wght@300;400;700&family=Lemonada:wght@300..700&family=Merienda:wght@300..900&family=Pacifico&family=Playwrite+IN+Guides&display=swap');


.puja-category-title {
  text-align: center;
}

.puja-category-heading {
  font-size: 33px;
  font-family: "Merienda One", cursive;
}

/* .puja-category-card-wrapper {
  padding: 30px;
}

.puja-category-card {
  background: inherit !important;
  padding: 0 !important;
  border: none !important;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.puja-category-card-body {
  background: white !important;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.puja-category-card-title {
  text-align: start !important;
  margin-top: 10px !important;
  margin-bottom: 0;
  font-size: 18px !important;
  color: #010101 !important;
  line-height: 24px !important;
  font-weight: 380 !important;
}

.temple-specific-puja-main-section .card-title {
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.temple-specific-puja-main-section .card-body {
  padding: 0px 0px 0px 4px !important;

}

.puja-category-card-image-wrapper {
  height: 330px;
}

.puja-category-card-img {
  height: 100%;
}

.puja-category-card-price {
  font-size: 16px;
 
  font-family: "Lemonada", cursive;
  font-weight: 500;
  color: #ff6600;
  margin-top: 3px;
}
.puja-category-back-main {
  background-color: #ff9933;

  background-image: url("/public/assetstwo/backgroundimages/sectionbackground.jpg");

  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 10px;

  height: 100%;
} */


.puja-category-card-wrapper {
  padding: 15px;
  height: 100%;
}

.puja-category-card {
  background: inherit !important;
  padding: 0 !important;
  border: none !important;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.puja-category-card-image-wrapper {
  height: 330px;
}

.puja-category-card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.puja-category-card-body {
  background: white !important;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.puja-category-card-title {
  text-align: start !important;
  margin-top: 10px !important;
  font-size: 18px !important;
  color: #010101 !important;
  font-weight: 380 !important;
}

.puja-category-card-price {
  font-size: 16px;
  font-family: "Lemonada", cursive;
  font-weight: 500;
  color: #ff6600;
  margin-top: 3px;
  text-align: start;
}

.puja-category-back-main {
  background-color: #ff9933;
  background-image: url("/public/assetstwo/backgroundimages/sectionbackground.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 10px;
  padding: 20px;
}


.temple-specific-puja-main-section .react-multiple-carousel__arrow--right {
  right: 2px !important;
}

.temple-specific-puja-main-section .react-multiple-carousel__arrow--left {
  left: 2px !important;
}

@media (max-width: 480px) {
  .temple-specific-puja-main-section .react-multiple-carousel__arrow--right {
    right: calc(4% + 1px) !important;
  }
  .temple-specific-puja-main-section .react-multiple-carousel__arrow--left {
    left: calc(4% + 1px) !important;
  }
}




 /* font-family: "Kalam", cursive; */
  /* font-family: "Itim", cursive; */